table{
    margin-top: 180px;
    caption-side: bottom;
 
    background-color: white;

    
}

body{
    background-color: bisque;
}

#mi-tabla{
    margin: 150px auto;
 width: 1000px;   
}

table{
    background-color:white ;
    text-align: left;
    width: 100%;
}

th, td{
  
    padding: 20;
}

thead{
    background-color: dodgerblue;
    border-bottom: solid 5px dodgerblue;
    color: white;
}

tr:nth-child(even){
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    font-size: medium;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    padding: 10px;
    margin: 10px;
    
}

.foto1{
    padding: 10px;
    margin: 10px; 
    float: right; width: 250px; 
}

.buscador{
    float: right; width: 250px;
    padding: 10px;
    margin: 10px; 
}

.enciclopedia{
    padding: 10px;
    margin: 10px; 
    float: center;
}

.a1{
    padding: 10px;
    margin: 10px; 
    height: 200;
    width: 300;
}

.a2{
    padding: 10px;
    margin: 10px; 
    height: 200;
    width: 300;
}

.a3{
    padding: 10px;
    margin: 10px; 
    height: 200;
    width: 300;
}

.a6{
    padding: 10px;
    margin: 10px; 
    height: 200;
    width: 300;
}
